<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="images/AlienFossil_WORDS.png" alt="Alien Fossil" height="40">
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="gamesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Games
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="gamesDropdown">
            <li><a class="dropdown-item" href="games.html">All Games</a></li>
            <li><a class="dropdown-item" href="games.html#tabletop">Table Top Games</a></li>
            <li><a class="dropdown-item" href="games.html#video">Video Games</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="news.html">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.etsy.com/shop/AlienFossil" target="_blank">Merch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.drivethrurpg.com/en/publisher/26131/alien-fossil-art" target="_blank">Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>